<div class="container-fluid">
  <div class="row">
  <div class="col-6 mt-5">
<h4 class="font-weight-bold">{{ contact.title}}</h4>
    <p>{{contact.phone}}</p>
    <p>{{contact.email}}</p>
      <p>{{contact.paragraph}}</p>

    <select class="custom-select"
    [(ngModel)]="coordinates">
      <option value="" selected hidden>Επέλεξε Κατάστημα</option>
      <option *ngFor = "let opt of contact.departments"
              [ngValue]="opt.coordinates">
        {{opt.title}}
      </option>

    </select>
  </div>



  <div class="col-6 mt-5">
    <agm-map
      [latitude]="coordinates.lat"
      [longitude]="coordinates.lng"
      [zoom] = "8"
    >
    <agm-marker
      [latitude]="coordinates.lat"
      [longitude]="coordinates.lng"

    >



    </agm-marker>
    </agm-map>
  </div>
</div>
</div>
