<div class="container-fluid">
  <div class="col-12 text-center mt-3">
    <h1>{{ products.title}}</h1>
  </div>

  <div class="col-2 d-inline-block " *ngFor="let p of products.products">
    <div
         class="card" style="width: 18rem;">
      <img [src]="p.photo"  class="card-img-top text-justify" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ p.title}}</h5>
        <p class="card-text">{{p.description}}</p>
        <p>{{p.price}}&euro;</p>
        <a href="#" class="btn btn-primary">Add to card</a>
      </div>
    </div>
  </div>
</div>
